body {
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

header {
  display: flex;
  height: 69px;
  width: 100%;
  border-bottom: 1px solid seashell;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: inherit;
}

.logo img {
  height: 50px;
  padding-left: 10px;
}

a {
  color: inherit;
  padding: 10px;
}

.container {
  display: flex;
  margin-top: 69px;
  justify-content: center;
}

.mission {
  display: flex;
  background-image: url("/Users/paularrj/Documents/projects/teacozy/resources/images/img-mission-background.jpg");
  height: 700px;
  width: 1200px;
  align-items: center;
  justify-content: center;
}

.content {
  background-color: black;
  width: 100%;
}
